/*KSTYLES-AERO2*/

/*selectors*/

:root{
    --ui-tinted-glass: linear-gradient( rgba(114, 30, 30, 0.4),rgba(15, 40, 128, 0.4));;
    --ui-glass: linear-gradient(rgba(177, 177, 177, 0.326),rgba(85, 85, 85, 0.326));;
    --ui-solidhead: linear-gradient(rgb(170, 15, 15),rgb(10, 44, 166));;
    --ui-solidbody: linear-gradient(rgba(255, 255, 255, 0.9), rgba(185, 185, 185, 0.9));;
    --ui-radius: 4px;
    --ui-shadow-glass: 0px 0px 5px black, inset 0px 0px 5px white;

}

*{
    box-sizing: border-box;
}

table{
    background-image: url("../media/map.jpg");
    width: 400px; height: 343px;
}


body{
    font-family: 'Noto Sans';

}

img{
    display: block;
    margin: auto;
    max-width: 400px;
    height: 200px;
    border-radius: var(--ui-radius);
    filter: drop-shadow(0px 2px 3px black);
}


.homeimg > p, #dim > p{
    margin-inline: 70px;

}
h1, h2, h3{
    margin: 10px;
}

.homeimg > h1, .homeimg > h2, .homeimg > h3, .homeimg > p{
    text-shadow: 0px 2px 10px rgba(0, 0, 0, 0.593);

}


li{
    list-style: symbols();
}
/*Navigation*/
nav{
    background: var(--ui-tinted-glass); 
    height: 100px;
    border-radius: 4px;
    backdrop-filter: blur(3px);
    box-shadow: var(--ui-shadow-glass);
    position: fixed;
    z-index: 1;

}

nav, nav > ul, details > ul{
    display: flex;
    
    top: 0px;
    right: 0px;
    left: 0px;
    text-shadow: 0px 0px 20px black;
    gap: 25px;
    justify-content: space-between;
    list-style: none;
    align-items: center;
    padding: 10px;

    

}

nav > ul > li > a, td > a, button > a, nav > a{
    text-decoration: none;
    color: white;
    text-shadow: 0px 0px 20px black;
    padding: 5px;
    transition: all 0.4s;
   
}

nav > ul > li > a:hover, td > a:hover, button > a:hover, nav > a:hover{
    text-shadow: 0px 0px 5px white;
}

details, summary{
    display: none;
}

button{
    background: linear-gradient(rgb(134, 205, 248), rgb(3, 55, 119), rgb(6, 131, 209));
    transition: all 0.4s;
    width: auto;
    margin: 5px;
    
}

button:hover{
    background: linear-gradient(rgb(134, 205, 248), rgb(3, 55, 119), rgb(0, 157, 255));
    box-shadow: 0px 0px 20px rgb(3, 55, 119);
}

button, input {
    
    border-width: 1px;
    padding: 10px;
    box-shadow: var(--ui-shadow-glass);
    border-radius: var(--ui-radius);
}

input{
    width: 320px;
}
input:hover {
    box-shadow: 0px 0px 50px white, inset 0px 0px 30px white;
    transition: width 400ms, height 470ms, background-color 550ms, box-shadow 450ms;
    transition-timing-function: cubic-bezier(.16, .48, .74, .91);
    transition-timing-function: ease-in-out;
}

input:focus {
    background-color: rgb(192, 192, 192);
    box-shadow: 0px 0px 50px white, inset 0px 0px 30px white;
}

label {
    font-size: 17px;
    margin-left: 6px;
    opacity: 90%;
}
.highlight {
    background: var(--ui-solidbody);
    border-left: 6px solid #ffb6b9;
    padding: 10px 15px;
    border-radius: var(--ui-radius);
    margin: 20px 0;
}
/*CLASSES*/

.header{
    background: var(--ui-solidhead);
    border-radius: var(--ui-radius);
    padding: 10px;
}

.submit {
    width: auto;
    cursor: pointer;
}

.center{
    text-align: center;
}

.homeimg{
    background-image: url('../media/Seoul_Night_Lights.jpg');
    justify-content: center;
    padding: 10px;
    min-height: 500px;
    height: auto;
    background-position: center;
    background-size: cover;
    align-content: center;
    
}


.logo{
    max-width: 100%;
    width: 110px;
    height: auto;
    cursor: pointer;
    transition: all 1s;
}

.dark{
    color: white;
}

.grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, 450px);
    grid-template-rows: repeat(auto-fit, auto-fit);
    justify-content: center;
    gap: 20px;
}

.asidegrid{
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    grid-template-rows: repeat(auto-fit, auto-fit);
    gap: 20px;
    justify-content: center;
}


.card{
    margin: 10px;
    background: var(--ui-glass);
    padding: 8px;
    
    box-shadow: var(--ui-shadow-glass) ;
    border-radius: var(--ui-radius);
    
}

.tinted{
    background: var(--ui-tinted-glass);
}
.card.flex > img, .card > img{
    object-fit: cover;
    align-self: center;
}

.card.flex > img{
    max-width: 250px;
    
}

.card > table{
    background-size: contain;
    margin: auto;
}
.xs{
    height: 160px;
    width: 160px;
}
.flex{
    display: flex;
    gap: 10px;
    justify-content: center;

}


.vert{
    flex-direction: column;

}
/*IDs*/

#vert{
    flex-direction: column;
}

#ls{
    height: 200px;
    width: 95%;
}

#pt{
    height: 400px;
    width: 200px;
}

#dim{
    box-shadow: 0px 0px 5px black;
    padding: 8px;
    background: rgba(0, 0, 0, 0.01);
    backdrop-filter: brightness(50%);
    padding-block: 20px;
}
#adaptive{
    width: auto;
}
#img2{
    background-image: url("../media/skr_itaewon.jpg");
}
#img3{
    background-image: url("../media/ppy.jpg");
}

#img4{
    background: url("../media/incheon.jpg");
}

#img5{
    background-image: url("../media/koreancuisine.jpg");
}
#img6{
    background-image: url("../media/jeju5.png");
}

#img7{
    background-image: url("../media/busan.jpg");
}

#img8{
    background-image: linear-gradient(rgb(158, 191, 215),rgb(255, 255, 255),rgb(227, 221, 223));
}

#img9{
    background-image: url("../media/gyeongju.jpeg");
}

#img10{
    background-image: url("../media/daegu-apsan.jpg");
}

#opaqueh{
    background: var(--ui-solidhead);
}
#opaqueb{
    background: var(--ui-solidbody);
}

#bgcardfx{
    backdrop-filter: blur(3px);
}

.scroll{
    overflow: auto;
  white-space: nowrap;
  display: flex;
}

/*MOBILE!!!!!!!!!!!*/
@media (max-width:989px) {
    
    p{
    margin-inline: 40px;
    }
    nav > ul{
        display: none;
    }
    summary{
        list-style-type: none;
        font-size: 2rem;
    }


    details, summary{
        display: block;
        border-radius: var(--ui-radius);    
        background: var(--ui-tinted-glass);
  
        box-shadow: 0px 0px 5px black, inset 0px 0px 5px white;

    }

    details[open]{
        position: absolute;
        top: 30px;
        right: 10px;

        
    
    }
       
    
    .homeimg{
    padding: 10px;
    min-height: 800px;
    height: auto;
    background-position: center;

    }


    

    details > ul > li > a{
    text-decoration: none;
    color: white;
    }
    

    .flex{
        flex-direction: column;
    }
  

@media (max-width:457px) {

    p{
        margin-inline: 30px;
    }
    table{
        width: 285px;
        height: 245px;
    }
    .grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, 320px);
    grid-template-rows: repeat(auto-fit, auto-fit);
    justify-content: center;
    gap: 40px;
    }

    .card{
        margin: 10px;
    }

}

}
